appdirs==1.4.3
clarifai==2.0.21
click==6.7
configparser==3.5.0
Flask==0.12.1
functools32==3.2.3.post2
future==0.15.2
havenondemand==2.0.1.post0
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.5.1
MarkupSafe==1.0
packaging==16.8
Pillow==2.9.0
pprint==0.1
pyparsing==2.2.0
requests==2.13.0
six==1.10.0
Werkzeug==0.12.1
