#header {
			 background-color:#FFFFFF;
			 color:#B5E61D;
			 text-align:left;
			 padding:5px;
	 }
	 #nav {
			 line-height:30px;
			 background-color:#000;
			 height:300px;
			 width:10%;
			 float:left;
			 padding:5px;
	 }
	 #section {
			 width:1080px;
			 float:left;
			 padding:10px;
	 }
	 #footer {
			 background-color:black;
			 color:white;
			 clear:both;
			 text-align:center;
			padding:5px;
	 }

	 img {
    display: block;
    margin: auto;

}
.boxed {
	margin-top: 50px;
	width: 772px;
  border: 1px solid #3F48DD ;
}

.boxed-orange {
	margin-top: 50px;
	width: 772px;
  border: 1px solid #FF7F27 ;
}

table td, table td * {
    vertical-align: top;
}
