{% extends "layout.html" %} {% block body %}
<center>
    <img href="{{ url_for('index') }}" src="{{ url_for('static', filename='interviewAttire.png')}}">
</center>
<br>
<br>
<center>
    <form method="post" action="{{ url_for('InterviewPreparedness') }}" enctype=multipart/form-data>
        <table>
            <tr>
                <td>Category: </td>
                <td><input type="text" name="category" value="Account Manager"></td>
            </tr>
            <tr>
                <td>Choose photos: </td>
                <td><input type="file" name="image" multiple></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
    {% if conceptDictList|length > 0 %}
    {% if imgs|length > 0 %}
    <table>
      {% set count = 1 %}
      {% for im in imgs %}
        {% if loop.index0 % 3 == 0 %}
          <tr>
        {% endif %}
        <td><img src="{{im}}" style="width:200px;"/></td>
        {% if loop.index0 % 3 == 2 or loop.last %}
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    {% endif %}


    <div class="w3-card-4" style="margin-top:20px;margin-bottom:20px;width:70%;border: 1px solid #5CB85C;" >

    <header class="w3-container">
      <h1>Attire Characteristics</h1>
    </header>
    <div class="w3-container" style="padding-bottom:20px;">
      {% for item in conceptDictList %}
        {{ item|join(", ") }}
      {% endfor %}
    </div>
    </div>
    {% endif %}


</center>
{%endblock%}
