{% extends "layout.html" %} {% block body %}
<center>
    <img href="{{ url_for('index') }}" src="{{ url_for('static', filename='interviewAttire.png')}}">
</center>
<br>
<br>
<center>
    <form method="post" action="{{ url_for('InterviewPreparedness') }}" enctype=multipart/form-data>
        <table>
            <tr>
                <td>Category: </td>
                <td><input type="text" name="category" value="Construction"></td>
            </tr>
            <tr>
                <td>Choose photos: </td>
                <td><input type="file" name="image" multiple></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
    {% if conceptDictList|length > 0 %}
      {% for item in conceptDictList %}
        {% for arg in item %}
          <p> Tag: {{ arg }} </p>
          <p> Confidence: {{ item[arg] }} </p>
        {% endfor %}
      {% endfor %}
    {% endif %}

    {% if imgs|length > 0 %}
      {% for im in imgs %}
        <img src="{{im}}" style="width:300px;"/>
      {% endfor %}
    {% endif %}
</center>
{%endblock%}
