{% extends "layout.html" %} {% block body %}
<center>
    <img href="{{ url_for('index') }}" src="{{ url_for('static', filename='resumeScore.png')}}">
    <br>
    <br>
    <img href="{{ url_for('index') }}" src="{{ url_for('static', filename='icon.png')}}">
</center>
<br>
<br>
<center>
    <table style="outline:solid thin;color:#FF7F27;width:100%;border-color:#FF7F27">
        <tr style="outline:solid thin; color:#FF7F27">
            <th style="color:#FF7F27">Job Position</th>
            <th style="color:#FF7F27">Match Success</th>
        </tr>
        <tr>
            <td style="color:#FF7F27">Account Manager</td>
            <td style="color:#FF7F27">99%</td>
        </tr>
        <tr>
            <td style="color:#FF7F27">Account Manager</td>
            <td style="color:#FF7F27">99%</td>
        </tr>
        <tr>
            <td style="color:#FF7F27">Account Manager</td>
            <td style="color:#FF7F27">99%</td>
        </tr>
        <tr>
            <td style="color:#FF7F27">Account Manager</td>
            <td style="color:#FF7F27">99%</td>
        </tr>
        <tr>
            <td style="color:#FF7F27">Account Manager</td>
            <td style="color:#FF7F27">99%</td>
        </tr>
        <tr>
            <td style="color:#FF7F27">Account Manager</td>
            <td style="color:#FF7F27">99%</td>
        </tr>
        <tr>
            <td style="color:#FF7F27">Account Manager</td>
            <td style="color:#FF7F27">99%</td>
        </tr>
    </table>
</center>
{%endblock%}
