<!doctype html>
<html>

<head>
    <title>ZipRecruiterHack</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body style="background-color:#EBEDEF">
  <!--<img href="{{ url_for('index') }}" src="{{ url_for('static', filename='icon.png')}}" style="float:left;">-->
  <div id="header">
      <!--<h1>JohtZee</h1>-->
      <img href="{{ url_for('index') }}" src="{{ url_for('static', filename='header.png')}}" style="width:100%;">
  </div>

  <div class="w3-sidebar w3-black w3-bar-block" style="width:15%">
    <img href="{{ url_for('index') }}" src="{{ url_for('static', filename='profile.png')}}" style="width:100%;">
    <a class="w3-bar-item w3-button" href="{{ url_for('index') }}" class="">Dashboard</a>
    <a class="w3-bar-item w3-button" href="{{ url_for('JobListing') }}" class="">Notifications</a>
    <a class="w3-bar-item w3-button" href="{{ url_for('ResumeRating') }}" class="">Check Resume</a>
    <a class="w3-bar-item w3-button" href="{{ url_for('InterviewPreparedness') }}" class="">Prepare for an interview</a>
    <a class="w3-bar-item w3-button" href="{{ url_for('JobListing') }}" class="">Job Listings</a>
    <a class="w3-bar-item w3-button" href="{{ url_for('Settings') }}" class="">Account Settings</a>
  </div>
  <div style="margin-left:17%">
  {% block body %}{% endblock %}
</div>
</body>
<html>
