{% extends "layout.html" %} {% block body %}
<center>
    <img href="{{ url_for('index') }}" src="{{ url_for('static', filename='resumeScore.png')}}">
    <div class="boxed">
        <table>
            <tr>
                <td style="padding:0 20px 0 20px;"> Overall Score: </td>
                <td style="padding:0 20px 0 20px;"><a href="{{ url_for('UploadResume') }}"> Load Revised Resume</a></td>
                <td style="padding:0 20px 0 20px;"> Last Run </td>
            </tr>
        </table>
    </div>
</center>
<br>
<br>
<center>
    <table style="width:100%">
        <tr>
            <td style="padding:0 50px 0 50px;">
                <div class="w3-card-4" style="width:100%">
                    <header class="w3-container w3-light-grey">
                      <center>
                        <h1 style="color:#3F48DD">Highlights</h1>
                      </center>
                    </header>
                    <div class="w3-container">
                      <h2 style="color:#3F48DD">Sentences with a high sentiment:</h2>
                      <h2 style="color:#3F48DD">Top skills found:</h2>
                    </div>
                </div>
            </td>
            <td style="padding:0 50px 0 50px;">
              <div class="w3-card-4" style="width:100%">
                  <header class="w3-container w3-light-grey">
                    <center>
                      <h1 style="color:#3F48DD">Concerns</h1>
                    </center>
                  </header>
                  <div class="w3-container">
                    <h2 style="color:#3F48DD">Basic Information:</h2>
                    <h2 style="color:#3F48DD">Skills:</h2>
                    <h2 style="color:#3F48DD">Education:</h2>
                    <h2 style="color:#3F48DD">Sentiment:</h2>
                    <h2 style="color:#3F48DD">Work Experience:</h2>
                    <h2 style="color:#3F48DD">Grammar:</h2>
                  </div>
              </div>
            </td>
        </tr>
    </table>
</center>
{%endblock%}
