{% extends "layout.html" %} {% block body %}
<div class=main>
    <h1>ResumeRating</h1>
    {% if args is not none %}
      {% for arg in args %}
        <p> {{ arg }} </p>
      {% endfor %}
    {% endif %}
</div>
<div class=aside>
    <h3>Config data</h3>
    <form method="post" action="{{ url_for('ResumeRating') }}">
        First name:<br>
        <input type="text" name="firstname">
        <br> Last name:<br>
        <input type="text" name="lastname">
        <br>
        <input type="submit" value="Submit">
    </form>
</div>


{% endblock %}
