{% extends "layout.html" %} {% block body %}
<center>
    <img href="{{ url_for('index') }}" src="{{ url_for('static', filename='resumeScore.png')}}">
</center>
<br>
<br>
<center>
    <form method="post" action="{{ url_for('UploadResume') }}" enctype=multipart/form-data>
        <input type="file" name="resume">
        <input type="submit" value="Submit">
    </form>
        {% if conceptDictList is not none %}
          {% for item in conceptDictList %}
            {% for arg in item %}
              <p> Tag: {{ arg }} </p>
              <p> Confidence: {{ item[arg] }} </p>
            {% endfor %}
          {% endfor %}
        {% endif %}
</center>
{%endblock%}
